article {
    background:  #0000;;
}

header{
    background-color: aqua;
}

section.main{
    margin-left: 12.5%;
    margin-right: 12.5%;
}

section.sources{
    display: inline-block;
    border: 1px;
    border-width: 1px;
    border-style: solid;
    border-color:aqua;
    margin-left:12.5%;
    margin-top: 10px;
    margin-right: 12.5%;
}

img{
    float: left;
}